@import  '../../index.module.scss';

.footer{
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: $mainBlue;
	a{
		text-decoration: none;
		@include rubicFont($white, 16px);
		&:hover {
			color: $gray;
		}
		transition: color 0.5s;
	}
	ul{
		list-style: none;
		margin: 15px 0;
		padding: 0;
	}
}
.no-image{
	width: 140px;
	height: 51px;
}
.wrapper, .privacy-policy{
	display: flex;
	padding: 2vw 9vw;
	justify-content: space-between;
	div{
		@include montserratFont($white, 20px)
	}
}
.teachers-Ul-wrapper{
	display: flex;
	gap: 30px;
}

@media screen and (max-width: 950px) {
	.wrapper, .privacy-policy{
		flex-direction: column;
		align-content: center;
		gap: 20px
	}
	.logo{
		width: 130px;
		height: 51px;
	}
}