.authLayout-wrapper{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.center-wrapper{
	box-sizing: border-box;
	width: 100%;
	padding: 0 9vw;
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 1120px) {
	.center-wrapper{
		justify-content: center;
		align-items: center;
		flex-direction:column-reverse;
	}
}
