.authLayout-wrapper{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.center-wrapper{
	box-sizing: border-box;
	width: 100%;
	padding: 0 130px;
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 1120px) {
	.auth-left-side{
		display: none;
	}
	.center-wrapper{
		justify-content: center;
		
	}
}
@media screen and (max-width: 1290px) {
	.center-wrapper {
		padding: 0 50px;
	}

	.header {
		padding: 0 50px;
	}
	.auth-left-side{
		width: 400px;
	}
	.footer{
		padding: 50px;
	}
}